#notif-container:hover {
  background-color: lightgray;
}
#notif-container {
  border-bottom: 1px solid lightgray;
  max-width: 350px;
  word-wrap: break-word;
}
p, .d-inline {
  max-width: 300px!important;
  word-wrap: break-word;
}
