#notif-container:hover {
  background-color: lightgray;
}
#notif-container {
  border-bottom: 1px solid lightgray;
  word-wrap: break-word;
}
p, .d-inline {
  max-width: 300px!important;
  word-wrap: break-word;
}

#notif-container-large {
  font-size: 1.2rem;
}
