<div id="groupListContainer" class="container" class="py-2 px-3 text-white bg-white" *ngIf="modalRef; else GroupListPage">
  <h3>Groups</h3><hr class="my-2">
  <div id="groupList" *ngFor="let group of groups" class="py-2">
    <div class="container-fluid" routerLink="/group/{{group.gid}}" (click)="close()">
      <h6 class="mx-2">{{group.gname}}</h6><small>{{group.desc}}</small>
    </div>
  </div>
</div>

<ng-template #GroupListPage>
    <div class="container pt-md-3">
      <div id="groupListPageContainer" class="jumbotron" class="py-2 px-3 text-white bg-white">
        <h3>Groups</h3><hr class="my-2">
        <div id="groupList" *ngFor="let group of groups" class="py-2">
          <div class="container-fluid" routerLink="/group/{{group.gid}}" (click)="close()">
            <h6 class="mx-2">{{group.gname}}</h6><small>{{group.desc}}</small>
          </div>
        </div>
      </div>
    </div>
</ng-template>
