

@font-face {
  font-family: 'pacifico-regular';
  src: url('pacifico-regular-webfont.woff2') format('woff2'),
       url('pacifico-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
