

@font-face {
  font-family: 'lobster-regular';
  src: url('lobster-regular-webfont.woff2') format('woff2'),
       url('lobster-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
