#landing-wrapper{
  background-color: #794BC4;
  margin-bottom: 0px;
  border-radius: 0px;
}
#landing-logo {
  width: 18em;
}
#landing-logo-wrapper {
  overflow: hidden;
}
#landing-nav-wrapper {
  margin: 0 auto;
  max-width: 500px;
}
#landing-nav-wrapper > .btn {
  margin: 0 auto;
  color: white;
}
.btn-round {
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #E83F6F
}
button {
  cursor: pointer;
}
@media (min-width: 768px) {
  #left-section {
    height: calc(100vh - 108px);
  }
  #landing-wrapper {
    height: calc(100vh - 108px);
  }
}
