<div class="jumbotron py-0 px-0" id="landing-wrapper">
 <div class="container-fluid">
  <div class="row justify-content-between">
    <div id="left-section" class="col-12 col-md-5 order-2 order-md-1 text-white bg-primary text-center py-md-5 px-md-5 pb-5">
      <div id="left-text" class="my-2 my-md-5 pb-2">
        <h4 class="py-3"><i class="fa fa-search mx-2"></i>Follow your interests.</h4>
        <h4 class="py-3"><i class="fa fa-users mx-2"></i>Hear what people are talking about.</h4>
        <h4 class="py-3"><i class="fa fa-comments mx-2"></i>Join the conversation.</h4>
      </div>
    </div>
    <div class="col-12 col-md-7 order-1 order-md-2">
      <div class="container-fluid">
        <div class="container row pt-1 pt-md-2 justify-content-center text-white text-center my-5">
          <div id="landing-logo-wrapper" class="col-auto order-1 order-sm-1">
            <img id="landing-logo" src="../../assets/images/logo_long.png">
          </div>
          <span class="mx-5 col-12 order-sm-2 order-2 my-2 my-md-4"><h2 class="">See what’s happening in the world right now</h2></span>
          <div id="landing-nav-wrapper" class="my-2 mt-md-5 col-12 text-center order-3 mx-5">
            <h6 class="text-left">Join Scribe today.</h6>
            <button class="btn btn-round my-2 font-weight-bold" routerLink="/login">Login</button>
            <button class="btn btn-round my-2 font-weight-bold" routerLink="/signup">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
