<div class="jumbotron" id="landing-wrapper">
  <div class="container row pt-md-5 justify-content-center">
    <div id="landing-text-wrapper" class="align-self-center text-center text-md-right col-12 col-sm-auto">
      <h2>the best way to communicate</h2>
    </div>
    <div id="landing-logo-wrapper" class="col-auto">
      <img id="landing-logo" src="../../assets/images/logo_long.png">
    </div>
    <div id="landing-nav-wrapper" class="mt-5 col-12 col-sm-auto text-center">
      <button class="btn btn-round my-2 mx-md-3 font-weight-bold">Login</button>
      <button class="btn btn-round my-2 mx-md-3 font-weight-bold">Register</button>
    </div>
  </div>
</div>
