#landing-wrapper{
  background-color: #3fc4e8;
  margin-bottom: 0px;
  height: calc(100vh - 108px);
}
#landing-logo {
  width: 18em;
}
#landing-logo-wrapper {
  overflow: hidden;
}
#landing-nav-wrapper {
  margin: 0 auto;
}
#landing-nav-wrapper > .btn {
  margin: 0 auto;
  color: white;
}
.btn-round {
  width: 200px;
  padding: 10px;
  color: white;
  background-color: #E83F6F
}
#landing-text-wrapper > h2, h3 {
  line-height: 2px;
  font-size: 1.5rem;
  color: white;
}
.jumbotron {
}
