<div class="jumbotron" id="landing-wrapper">
  <div class="container row pt-md-2 justify-content-center">
    <div id="landing-text-wrapper" class="align-self-center text-center text-md-right mt-3 col-12 col-sm-3 order-2 order-md-1">
      <h3>anytime</h3><br>
      <h3>anyplace</h3><br>
      <h2>Communicate!</h2>
    </div>
    <div id="landing-logo-wrapper" class="col-auto order-1 order-md-2">
      <img id="landing-logo" src="../../assets/images/logo_long.png">
    </div>
    <div id="landing-nav-wrapper" class="mt-5 col-12 text-center order-3">
      <button class="btn btn-round my-2 mx-md-3 font-weight-bold" routerLink="/login">Login</button>
      <button class="btn btn-round my-2 mx-md-3 font-weight-bold" routerLink="/register">Register</button>
    </div>
  </div>
</div>
