<div class="container pb-5">
    <div class="jumbotron mb-0 bg-primary mt-1">
        <h1 class="logo-text" id="about-logo">Scribe</h1>
        <p class="lead">Angular project using Firebase and Cloud Firestore</p>
    </div>
    <div class="card">
      <div class="mx-4 my-4 text-justify card-block">
        <h3>Features to implement-</h3>
            <ul class="list-group">
              <li class="list-group-item">Add ability to change display username in the accounts component &#10004;</li>
              <li class="list-group-item">Implement the profile page to pull in user's data properly &#10004;</li>
              <li class="list-group-item">Add function in auth service to get username from firestore</li>
              <li class="list-group-item">Search Bar functionality to search posts and users.</li>
              <li class="list-group-item">Perform validation on all forms in all the add post form and search form.</li>
              <li class="list-group-item">Improve the add post component to either add a status post or a post with a title</li>
              <li class="list-group-item">Create separate page for indivisual posts</li>
              <li class="list-group-item">Add comment component on posts</li>
              <li class="list-group-item">Add ability to add a photo to a post</li>
              <li class="list-group-item">Add infinity scroll to the posts component</li>
              <li class="list-group-item">Add animations to everything.</li>
            </ul>
        </div>
    </div>
</div>

