<div class="container">
    <div class="jumbotron mb-0 bg-primary mt-1">
        <h1 class="logo-text" id="about-logo">Scribe</h1>
        <p class="lead">Angular project using Firebase and Cloud Firestore</p>
    </div>
    <div class="card">
      <div class="mx-4 my-4 text-justify card-block">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed expedita veniam voluptate vel, recusandae doloremque unde, sapiente perspiciatis dignissimos, aperiam consequatur. Nemo incidunt obcaecati reiciendis repudiandae eaque? Alias, sed harum.
          Iste cupiditate ullam quibusdam dolore aspernatur, porro totam voluptatem! Qui, consectetur aliquam. Adipisci, cumque facere corporis architecto tempore accusantium iure deleniti quos nihil ut esse et explicabo libero distinctio porro?
          Laudantium incidunt repellendus magnam laboriosam dicta obcaecati fuga ea odio veniam necessitatibus molestiae perspiciatis, adipisci unde possimus accusantium quidem reiciendis id fugiat. Magni, blanditiis tempore. Illo illum impedit sed cumque.
          Velit earum modi itaque similique tempora minus nulla quidem distinctio alias vel? Atque ab optio ipsum pariatur consequatur error incidunt quas temporibus. Aperiam deserunt quia praesentium numquam vel doloremque sapiente!</p>
        </div>
    </div>
</div>

