.jumbotron {
    border-radius: 0px;
    background-color: #794BC4;
}
.container-fluid {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#about-brand {
    padding: 0px;
    height: auto!important;
    max-height: 200px;
    max-width: 394.14px;
}
.mb-1 > h6 {
  display: inline-block;
}
#group-text {
  min-height: 136px!important;
}
@media (max-width: 490px) {
  #about-brand {
    max-height: 150px;
    max-width: 250px;
  }
}
