<nav class="navbar px-0 py-1 navbar-expand-md navbar-dark bg-dark fixed-top justify-content-center">
  <div class="container">
    <div id="logo-container" class="align-items-center col-2 col-md-2 col-lg-1 d-none d-sm-inline-block order-md-1">
      <img height="40px" src="../../assets/images/logo_long.png" routerLink="/home">
    </div>
    <div id="logo-container" class="align-items-center col-3 d-sm-none order-md-1" *ngIf="!isUser">
      <img height="40px" src="../../assets/images/logo_long.png" routerLink="/home">
    </div>
    <div id="nav-links" class="col-5 col-md-5 col-lg-6 d-none d-md-inline-block order-2" *ngIf="isUser">
      <span class="p-1 d-none d-lg-inline-block" (click)="sendTo('home')"><a><i class="fa fa-home mx-2" aria-hidden="true"></i>Home</a></span>
      <span class="p-1" (click)="sendTo('messages')"><a><i class="fa fa-envelope mx-2" aria-hidden="true"></i>Messages<i class="fa fa-exclamation-circle" *ngIf="unreadmsgs && unreadmsgs.length > 0"></i></a></span>
      <span class="p-1" ngbDropdown class="d-inline-block" placement="bottom" (click)="clearNotif()">
        <a ngbDropdownToggle><i class="fa fa-bell mx-2" aria-hidden="true"></i>Notifications<span *ngIf="unread">
          <span *ngIf="unread.length > 0" id="unread-count">{{unread.length}}</span>
        </span></a>
        <div ngbDropdownMenu *ngIf="unread && notifs" id="notif-dropdown">
          <div id="notif-list">
            <div *ngFor="let notif of notifs; let i = index" class="notif-item">
              <button class="dropdown-item" *ngIf="unread.length > 0 ? i <= unread.length : 10"><app-notification [notif]="notif"></app-notification></button>
            </div>
          </div>
          <hr class="py-0">
          <h6 class="text-center px-2" (click)="open(notifModal)">View all notifications</h6>
        </div>
      </span>
    </div>
    <div id="search-container" class="col-10 col-sm-6 offset-sm-3 offset-md-0 col-md-4 col-lg-4 order-2" *ngIf="isUser">
      <app-search></app-search>
    </div>
    <div id="search-container" class="col-9 col-sm-auto col-md-5 col-lg-4 order-2 offset-sm-3 offset-md-4 offset-lg-5" *ngIf="!isUser">
      <app-search></app-search>
    </div>
    <a routerLink="/login" id="login-nav" class="text-primary d-none d-md-inline-block col-sm-2 order-3 font-weight-bold" *ngIf="!isUser">Login</a>
    <div id="info-container" class="col-1 order-1 order-sm-3" *ngIf="isUser">
      <div ngbDropdown class="d-inline-block">
        <img height="40px" width="40px" class="circle" [src]="photoURL" id="dropdownBasic1" ngbDropdownToggle>
        <div id="ngb-dropdown" ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <div id="user-container" class="mx-2" routerLink="/user/{{userName}}">
            <img height="50px" width="50px" class="circle" [src]="photoURL" id="dropdownBasic2" ngbDropdownToggle>
            <h6 class="mb-0">{{displayName}}</h6>
            <p class="text-muted mb-1">@{{userName}}</p>
            <div id="user-data">
              <p class="m-0"><span class="text-muted">Scribes</span> <span class="font-weight-bold">{{totalScribes}}</span></p>
              <p class="m-0"><span class="text-muted">Following</span> <span class="font-weight-bold">{{totalFollowing}}</span></p>
              <p class="m-0"><span class="text-muted">Followers</span> <span class="font-weight-bold">{{totalFollowers}}</span></p>
            </div>
          </div>
          <hr>
          <button class="dropdown-item p-2 d-lg-none" (click)="sendTo('home')">Home</button>
          <button class="dropdown-item p-2" (click)="sendTo('profile')">Profile</button>
          <button class="dropdown-item p-2 d-md-none" (click)="open(notifModal); clearNotif()">Notifications<span *ngIf="unread && unread.length > 0" id="unread-count-small">{{unread.length}}</span></button>
          <button class="dropdown-item p-2" (click)="sendTo('messages')">Messages</button>
          <button class="dropdown-item p-2" (click)="sendTo('groups')">Groups</button>
          <hr>
          <button class="dropdown-item p-2" (click)="sendTo('account')">Account</button>
          <button class="dropdown-item p-2 mb-3" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</nav>

<ng-template #notifModal>
    <div id="notif-list">
      <h3 class="mx-3 my-2">Notifications</h3>
      <hr class="mx-3 my-1 py-1">
      <div *ngFor="let notif of notifs; let i = index" class="notif-item">
        <button class="dropdown-item" *ngIf="i <= unread.length || i <= 10"><app-notification [notif]="notif" [modalRef]="modalRef"></app-notification></button>
      </div>
    </div>
</ng-template>
