#search-box, .form-inline {
  display: inline-flex;
  width: 100%;
}
.navbar-brand {
  font-size: 1.8rem;
  line-height: 30px;
  margin: 0px;
  text-align: center;
}
#nav-text, #nav-info {
  max-width: 120px;
  width: 120px;
}
.col {
  border: white 2px solid;
}
#nav-search {
  max-width: 700px;
  width: 100%;
}
