<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top row justify-content-center">
    <div class="nav-text col-2 col-sm-1 col-md-2 col-lg-2 align-items-center" id="nav-text">
      <a class="navbar-brand logo-text" routerLink="home" (click)="closeNavbar()">Scribe</a>
    </div>
    <div class="justify-content-center col-8 col-sm-9 col-md-9 col-lg-8 m-lg-auto" id="nav-search">
      <form class="form-inline d-inline-flex">
        <input id="search-box" class="form-control search-box" type="text" placeholder="Search" aria-label="Search">
      </form>
    </div>
    <div id="user-info-box d-md-none col-md-2  col-lg-2 col-2" id="nav-info">
      <app-user-info (closeNavEvent)="this.toggleNavbar()"></app-user-info>
    </div>
  </nav>
