.navbar {
  max-height: 60px;
  color: white;
}
#dropdownBasic1 {
  border: 3px solid #E83F6F;
}
#login-nav {
  text-decoration: none;
  color: #E83F6F!important;
}
#login-nav:hover {
  color: #3fc4e8!important;
  text-decoration: none;
}
@media (max-width: 575px) {
  #ngb-dropdown {
    margin-top: -47px;
    margin-left: -15px;
  }
}
@media (min-width: 575px) {
  #ngb-dropdown {
    margin-left: -130px;
    min-width: 180px;
  }
}
.dropdown-item {
  max-width: 170px;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 0px;
}
hr {
  margin: 5px;
}
#nav-links > span {
  color: #E83F6F;
  font-weight: 500;
}
#nav-links > span:hover {
  cursor: pointer;
  color: #3fc4e8;
}
#dropdownBasic1:hover {
  cursor: pointer;
  border-color: #3fc4e8;
}
#logo-container > img:hover {
  cursor: pointer;
}
.dropdown-item:focus {
  background-color: #E83F6F;
  color: white;
}
#user-data > p {
  font-size: 15px;
}
#notif-list, #unread-list {
  max-height: 300px;
  overflow: scroll;
}
#notif-dropdown {
  min-width: 350px;
  max-width: 350px;
  padding: 0px;
}
.dropdown-item {
  max-width: 350px;
  min-width: 100%;
  padding: 0px;
}
.notif-item {
  max-width: 350px;
  min-width: 100%;
}
.dropdown-toggle::after {
  display:none
}
#unread-count {
    margin-left: -2px;
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 15px;
    text-shadow: #E83F6F;
    -moz-border-radius: 20%;
    border-radius: 20%;
    background-color: #3fc4e8;
    color: white;
    text-align: center;
}
#unread-count-small {
  margin-left: 5px;
  display: inline-block;
  height: 20px;
  width: 20px;
  line-height: 15px;
  text-shadow: #E83F6F;
  -moz-border-radius: 20%;
  border-radius: 20%;
  background-color: #3fc4e8;
  color: white;
  text-align: center;
}

.fa-exclamation-circle {
  color: #3fc4e8;
  font-size: 1.2rem;
  margin-left: 2px;
}
