<div class="container-fluid pt-2 pb-3">
  <div id="banner-image"></div>
  <div class="container-fluid">
    <div id="name-bar" class="bg-white p-2 row mb-2 justify-content-between">
      <span class="col-10"><h2>{{gname}}</h2></span>
      <span id="btnEdit" class="btn text-white bg-primary col-2 align-self-center"><h6>Edit</h6></span>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-7 m-0 pr-0">
      <app-add-post type="group" [id]="gid"></app-add-post>
      <div *ngFor="let post of posts">
        <app-post [inputPostID]="post.pid" *ngIf="post"></app-post>
      </div>
    </div>
    <div class="col-5">
      <div id="login-check" *ngIf="isLoggedin; else Login">
        <div *ngIf="isSubbed == false; else Unsub">
          <div id="joinPanel" class="text-center btn mb-2 text-white bg-primary" (click)="subscribe()">
            <h6 class="mx-auto">Subscribe to {{gname}}</h6>
          </div>
        </div>
      </div>
      <div class="bg-white px-2 py-2 mb-1" id="about">
        <h4>About</h4><hr class="mt-1">
        <p>{{desc}}</p>
        <p>Created on {{getDate()}}</p>
      </div>
      <div class="bg-white px-2 py-2 mb-1" id="member-list" *ngIf="members">
        <h4>Members - {{members.length}}</h4><hr class="mt-1">
         <div class="container-fluid">
          <div class="row justify-content-between">
            <div *ngFor="let member of members" class="col user-block p-0">
              <app-user [uid]="member.uid" type='member'></app-user>
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>

<ng-template #Unsub>
    <div id="joinPanel" class="text-center btn mb-2 text-white bg-primary" (click)="unsubscribe()">
      <h6 class="mx-auto">Unsubscribe</h6>
    </div>
</ng-template>

<ng-template #Login>
    <div id="joinPanel" class="text-center btn mb-2 text-primary bg-white border border-primary" routerLink="start">
      <h6 class="mx-auto">Login to subscribe<br>to<br>{{gname}}</h6>
    </div>
</ng-template>
