.container-fluid {
  max-width: 1000px;
}
#side-nav {
  word-wrap: break-word;
}
#banner-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-color: #E83F6F;
}
.user-block {
  width: 60px;
  height: 60px;
  display: inline-block;
}
#joinPanel {
  width: 100%;
}
.btn:hover {
 cursor: pointer;
}
