<div class="jumbotron">
  <div class="row container justify-content-right">
    <div id="login-text" class="align-self-center col-12 col-md-5 col-lg-6 offset-md-1 offset-lg-1 mb-2">
      <h2 class="text-small text-center text-md-right">Login to post and access your profile.</h2>
    </div>
    <div id="login-form" class="text-center col-11 col-sm-9 col-md-5 col-lg-4">
      <form [formGroup]="emailform">
        <h2 class="mb-3">Login</h2>
        <small class="mt-0 mb-1 text-danger" *ngIf="error">{{error}}</small>
        <input class="form-control form-control-md" formControlName="email" type="text" placeholder="Email">
        <small class="mt-0 mb-1 text-danger" *ngIf="email.touched && email.errors">
          <div *ngIf="email.errors.email && !email.errors.required">Please enter a valid Email.</div>
          <div *ngIf="email.errors.required">An Email is required.</div>
        </small>

        <input formControlName="password" class="form-control form-control-md" type="password" placeholder="Password">
        <small class="mt-0 mb-1 text-danger" *ngIf="password.touched && password.errors">
            <div *ngIf="password.errors.minlength">Password should be minimum 6 characters.</div>
          <div *ngIf="password.errors.required">A Password is required is required.</div>
        </small>
      </form>
      <button id="login-btn" class="btn btn-dark py-2" (click)="login('email')">Login</button>
      <h6 class="align-self-center my-1">or</h6>
      <button id="google-btn" class="btn btn-dark py-2" (click)="login('google')">Google</button>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="p-5">
    <h5>Please verify your email before logging in.</h5>
  </div>
</ng-template>
