<div class="container py-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-8 p-0">
        <div class="jumbotron bg-white px-3 py-3">
          <h3 id="title" class="pb-0">Messages</h3>
          <i id="btnCreateChatroom" class="fa fa-plus-square fa-2x align-self-center text-primary col-3 mr-1 col-lg-2 ml-auto" (click)="createRoom()"></i>
          <hr class="mt-1">
          <div class="my-3">
            <div id="roomList" *ngFor="let room of chatrooms">
              <div id="roomListItem">
                <app-chatroomlist [room]="room"></app-chatroomlist>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 p-0">
        <h5>Right Panel</h5>
      </div>
    </div>
  </div>
</div>
