#chatroom-container {
    width: 100%;
    border-left: 2px solid #E83F6F;
}
#roomListItem:hover {
  cursor: pointer;
}
#title {
  display: inline-block;
}
#messaging-container {
  min-height: 450px;
  max-height: calc(100vh - 175px);
  overflow: scroll;
}
@media (max-width: 768px) {
  #messaging-container {
    max-height: calc(100vh - 108px);
    margin-bottom: 0px;
  }
}
