.list-group, a {
  text-decoration: none;
  color: black;
}
#info-picture {
  max-width: 50px;
  border-radius: 100%;
  border: 3px white solid;
}
#img-container {
  max-width: 50px;
  max-height: 50px;
  border-radius: 100%;
}
#dropdownBasic2 {
  background-color: none;
}
.bg-custom {
  background-color: #3F51B5;
}
