.list-group, a {
  text-decoration: none;
  color: black;
}
#info-picture {
  max-width: 50px;
  border-radius: 100%;
  border: 3px rgb(240, 240, 240) solid;
}
#img-container {
  max-width: 50px;
  max-height: 50px;
  border-radius: 100%;
}
#dropdownBasic2 {
  background-color: none;
}
.bg-custom {
  background-color: #3F51B5;
}

#user-home-displayname {
  font-size: 0.9rem;
}
#user-home-username {
  font-size: 0.7rem;
}
