<div class="list-group m-0 mr-md-1" *ngIf="this.auth.user | async; else login">
    <a class="list-group-item pt-0 px-3 text-white" *ngIf="username; else AccountInfo">
      <div class="info-container bg-custom row px-2 py-1">
        <div id="user-info" class="col-10 col-md-9 align-self-center">
            <div id="user-container" class="row" *ngIf="this.photoURL">
              <div id="img-container" class="col-auto mr-2 p-0" *ngIf="photoURL; else loading">
                <img [src]="this.photoURL" alt="img" id="info-picture" class="">
              </div>
              <div id="text-container" class="col p-0 align-self-center">
                <b id="user-home-displayname">
                  {{ displayname }}
                </b>
                <small id="user-home-username">@{{ username }}</small>
              </div>
            </div>
          </div>
          <div ngbDropdown placement="bottom-right" class="col-1 col-sm-flex align-self-center">
            <button class="btn btn-outline-light mr-0" id="dropdownBasic2" ngbDropdownToggle>
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" (click)="redirectTo('profile')">Profile</button>
                <button class="dropdown-item" (click)="redirectTo('account')">Account</button>
                <button class="dropdown-item" (click)="log('logout')">Logout</button>
              </div>
          </div>
      </div>
      <div id="lower-section" class="text-dark d-flex">
        <p>Other Info</p>
      </div>
    </a>
  </div>

<ng-template #AccountInfo>
  <a class="list-group-item">
    <div class="setupAccount text-dark">
        <h5>
          Setup your <a routerLink="/account" class="text-primary"><u>Account</u></a> before posting!
        </h5>
        <h6>Users cannot post or view their profile unless they have setup their account.</h6>
    </div>
  </a>
</ng-template>

<ng-template #login>
    <div class="loading list-group-item d-flex justify-content-center">
        <div class="btn btn-primary mx-1" (click)="log('login')">Login</div><b class="align-self-center text-dark">to use Scribe.</b>
    </div>
</ng-template>
