span {
  font-size: 1rem;
  word-wrap: break-word;
}
#user-block:hover {
  cursor: pointer;
  background-color: #E83F6F;
  color: white;
}
#user-block:hover .text-muted {
  color: white!important;
}
