<div id="add-post-container" [class]="containerStyle">
  <div [class]="addPostWrapper">
    <div [class]="imgcontainerClass">
      <img [src]="userURL" height="35px" width="35px" class="circle ml-032 ml-sm-4 ml-md-1 ml-lg-4">
    </div>
    <textarea type="text" [class]="textareaClass" (click)="expand()" placeholder="What's happening?"></textarea>
    <div id="buttons" [class]="buttonsClass">
      <div class="row justify-content-end mx-1 ml-5">
        <input type="file" id="inputImage" #inputImage>
        <button class="btn col-2 bg-none attachment-btn text-primary rounded p-2 mx-3 text-center align-self-center" (click)="inputImage.click()"><i class="fa fa-picture-o" aria-hidden="true"></i></button>
        <button class="btn col-auto bg-primary text-white btn-round py-0 m-0 px-3 align-self-center" id="btnSubmit" (click)="contract()">Scribe</button>
      </div>
    </div>
  </div>
</div>
