<div class="list-group mt-1 my-lg-1 list-group-item  flex-column align-items-start" *ngIf="this.auth | async">
      <div class="d-flex w-100 justify-content-between">
        <h4>Add Post</h4>
      </div>
      <form>
        <div class="form-group">
          <label for="post-title">Title</label>
          <input type="text" class="form-control" id="new-post-title" placeholder="Enter post title">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Body</label>
          <textarea id="new-post-body" class="form-control" placeholder="Enter post body"></textarea>
        </div>
      </form>
      <div class="d-flex flex-row-reverse">
        <button class="btn btn-primary" id="post-submit">Post</button>
      </div>
  </div>
