<div id="addPosts" class="list-group mt-1 list-group-item  flex-column align-items-start bg-primary" *ngIf=" auth.user | async">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="text-white">Add Post</h4>
      </div>
      <form>
        <div class="form-group">
          <textarea id="new-post-body" class="form-control" placeholder="Enter your post" name="new-post-body" [(ngModel)]="body"></textarea>
        </div>
      </form>
      <div class="d-flex flex-row-reverse">
        <button class="btn btn-success" id="post-submit" (click)="addPost()">Post</button>
      </div>
  </div>
