#new-post-body {
  width: 100%;
  height: 5.5rem;
  resize: none;
}
#post-submit {
  width: 150px;
  font-size: 20px;
  color: white;
}
#addPosts {
  height: 100%;
}
.card-header {
  background-color: #0069D9;
}
.card-header:hover {
  text-decoration: none;
}
.fa-plus {
  font-size: 1rem;
}

h4:hover {
  text-decoration: underline;
}
a:-webkit-any-link {
  text-decoration: none;
}
