<div class="mr-lg-2 d-none d-md-inline-block">
    <div *ngIf="auth.user | async; then authenticated else guest">
        <!-- template will replace this div -->
    </div>
</div>


    <!-- User NOT logged in -->
    <ng-template #guest>
      <div class="d-inline-block">
          <button id="login-btn" class="btn btn-primary" (click)="login()">Login</button>
      </div>
    </ng-template>

    <!-- User logged in -->
    <ng-template #authenticated>
      <div ngbDropdown placement="bottom-right" class="d-inline-block" *ngIf="auth.user | async as user" class="p-0">
          <button id="dropdownBasic1" ngbDropdownToggle >
            <img [src]="user.photoURL" class="avatar m-0 p-0">
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" routerLink="user/{{user.userName}}">Profile</button>
            <button class="dropdown-item" routerLink="account">Account</button>
            <button class="dropdown-item" (click)="logout()">Logout</button>
          </div>
          </div>
    </ng-template>
