
@media (min-width: 767px) {
  #login-btn {
    width:70px;
  }
}
#dropdownBasic1 {
  border: 0px;
  padding: 0px;
  border-radius: 100%;
}
.avatar {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
.d-inline-block {
  width: 100%;
}
.col {
  padding: 0px;
}
.dropdown-toggle::after {
  display:none;
}
#info-container {
  height: 35px;
  width: 35px;
  border-radius: 100%;
}
#user-btn {
  padding: 0px;
  margin: 0px;
  border-radius: 100%;
}
