@media (max-width: 767px) {
  #dropdownBasic1, .d-inline-block, #login-btn {
    width: 100%;
    margin: 0;
  }
 }
@media (min-width: 767px) {
  #login-btn {
    width:90px;
  }
}
#dropdownBasic1 {
  height: 40px;
}
.avatar {
  width: 27px;
  height: 27px;
  border-radius: 100%;
}
.d-inline-block {
  width: 100%;
}
.col {
  padding: 0px;
}
