#post-container {
  background-color: white;
  border-bottom: 1px solid lightgray;
}
#post-date {
  font-size: 0.8em;
  margin-top: 2.5px;
}
#dropdownBasic1 {
  background-color: rgba(255, 255, 255, 0);
}
