#user-image {
  max-width: 2.5rem;
}
#author-image {
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
}
#modal-author-image {
  border-radius: 100%;
  width: 2.6rem;
  height: 2.6rem;
}
#modal-username {
  font-weight: 400;
}
#modal-author {
  font-size: 1.2rem;
}
#modal-post-date {
  min-width: 5rem;
  text-align: right;
  font-size: 0.8em;
  font-weight: 400;
}

.link :hover {
  cursor: pointer;
  text-decoration: underline;
}


