<div class="container list-group px-2" *ngIf="this.showPost; else invalidPost">
    <a class="list-group-item px-0 my-2" *ngIf="this.author">
      <div class="modal-header pl-1 pt-1 pb-2">
      <div class="d-flex w-100  justify-content-between">
          <div class="user-data row mx-2 mr-1" (click)="this.sendToProfile(this.username);">
            <span id="user-image" class="col mx-2 align-self-center">
              <img [src]="this.authorPhotoURL" alt="" id="modal-author-image">
            </span>
            <span id="user-text" class="col align-self-center">
              <b id="modal-author">
                {{ this.author }}
              </b>
              <b class="my-0" id="modal-username">
                @{{ this.username }}
              </b>
            </span>
          </div>
        </div>
      </div>
      <div class="modal-body mx-2">
        <p>{{ this.body }}</p>
        <small id="modal-post-date" class="justify-right mx-1 align-self-center pt-2">{{ getDate(this.date) }}</small>
      </div>
      <hr class="mb-0">
      <div class="row mx-1 text-center my-0">
        <div class="col border border-top-0 border-bottom-0 border-left-0 py-2"><i class="fa fa-lg fa-thumbs-o-up text-primary" aria-hidden="true"></i> Like</div>
        <div class="col border border-top-0 border-bottom-0 border-right-0 py-2"><i class="fa fa-lg fa-commenting-o text-primary" aria-hidden="true"></i> Comment</div>
      </div>
      <hr class="mt-0">
      <div class="mx-4">
        <h4>Comments</h4>
      </div >
    </a>
</div>

<ng-template #invalidPost>
  <div class="container list-group px-2">
    <a class="mt-5 list-group-item px-0 my-2">
      <div class="px-1 pt-1 pb-2 text-center">
        <h3>The post you are looking for does not exist.</h3>
        <h4>The post may have been deleted or the URL is wrong.</h4>
      </div>
    </a>
  </div>
</ng-template>
