.text-right , .text-left {
  width: 60%;
}
.text-right {
  margin-left: 40%;
  text-align: left!important;
}
.text-left {
  margin-right: 40%;
}
#msg-date {
  font-size: 0.6rem;
}
i {
  position: relative;
  float: right;
  top: 0px;
  right: 0px;
  color: #E83F6F;
  cursor: pointer;
}
