<div class="pb-1" *ngIf="!this.showNoPosts; else NoPosts">
  <div class="list-group my-1" *ngFor="let post of posts | async">
    <a class="list-group-item list-group-item-action flex-column align-items-center pt-1 px-0" (click)="open(content,post)">
      <div class="d-flex w-100  justify-content-between" >
        <div class="user-data row mx-2" (click)="this.sendToProfile(post.username)">
          <span id="user-image" class="col mx-2 align-self-center">
            <img [src]="post.authorPhotoURL" alt="" id="author-image">
          </span>
          <span id="user-text" class="col align-self-center">
            <b>
              {{ post.author }}
            </b>
            <b class="my-0" id="username">
              @{{ post.username }}
            </b>
          </span>
        </div>
        <small id="post-date" class="justify-right mx-1 mr-2 align-self-center">{{ getDate(post.date) }}</small>
      </div>
      <hr class="my-1 mb-2">
      <p class="mb-1 mx-4">
        {{ post.body }}
      </p>
    </a>
  </div>
</div>

<ng-template #NoPosts>
    <div class="list-group my-1 pb-5">
        <a class="list-group-item list-group-item-action flex-column align-items-center pt-1 px-0">
          <p class="mt-2 my-1 mx-4">
            This user has no posts yet.
          </p>
        </a>
      </div>
</ng-template>


<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header pl-1 py-2">
    
      <div class="d-flex w-100  justify-content-between" >
          <div class="user-data row mx-2" (click)="this.sendToProfile(post.username)">
            <span id="user-image" class="col mx-2 align-self-center">
              <img [src]="this.authorPhotoURL" alt="" id="modal-author-image">
            </span>
            <span id="user-text" class="col align-self-center">
              <b id="modal-author">
                {{ this.author }}
              </b>
              <b class="my-0" id="modal-username">
                @{{ this.username }}
              </b>
            </span>
          </div>
          <small id="modal-post-date" class="justify-right mx-1 align-self-center">{{ getDate(this.date) }}</small>
        </div>
  </div>
  <div class="modal-body">
    <p>{{ this.body }}</p>
  </div>
  <div class="modal-footer">
    <h4>Comments</h4>
  </div >
</ng-template>
