<div class="container-fluid" class="p-0" *ngIf="!showInvalid; else Invalid">
  <div id="user-banner"></div>
  <div id="profile-content" class="container row">
    <div id="user-info" class="col-12 col-md-3">
      <img [src]="photoURL" id="profile-photo" class="circle">
        <div id="user-text" class="ml-2 mb-0">
          <h5 class="mb-1">{{displayName}}</h5>
          <p class="text-muted mb-1">@{{userName}}</p>
          <p>{{status}}</p>
          <p><span class="text-mute"><i class="fa fa-calendar mr-1" aria-hidden="true"></i>Joined</span> {{joinDate}}</p>
        </div>
        <button id="scribe-btn" class="btn bg-primary text-white btn-round px-3">
          <span id="scribe-btn-text">Scribe to {{displayName | slice:0:15}}<span *ngIf="displayName.length > 15">...</span></span>
        </button>
    </div>
    <div id="user-posts" class="col-12 col-md-6"></div>
    <div id="right-panel" class="d-none d-md-inline-block col-3"></div>
  </div>
</div>

<ng-template #Invalid>
  <app-error error="nouser"></app-error>
</ng-template>
