.display-picture {
  width: 10%;
  height: 10%;
  max-height: 150px;
  max-width: 150px;
  border: 4px solid rgba(0, 0, 0, 0.2);
}
.jumbotron {
  vertical-align: text-bottom;
  text-align: left;
}
#display-displayName {
  text-align: left;
  color: white;
  font-size: 1.5rem;
}
#invalid-user-text {
  font-size: 2rem;
}
#display-username {
  font-size: 1.2rem;
  font-weight: 400;
}
.col {
  border: none;
}
@media (max-width: 500px) {
  .display-picture {
    height: 5%;
    width: auto;
    max-height: 100px;
    max-width: 100px;
    border: 4px solid rgba(0, 0, 0, 0.2);
  }
  #display-displayName {
    text-align: left;
    color: white;
    font-size: 1.2rem;
  }
  #display-username {
    font-size: 0.9rem;
    font-weight: 400;
  }
}
