/* Bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';
/* @import '~bootstrap-material-design/dist/css/bootstrap-material-design.min.css';

/* Fonts */
@import './assets/fonts/fonts.css';
@import '~font-awesome/css/font-awesome.css';

html, body {
  min-width: 320px;
  background-color: #E6ECF0;
}
.test {
  border: 1px solid red;
}
.container {
  max-width: 700px;
}
.logo-text {
  font-family: 'pacifico-regular', cursive;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
}
.circle {
  border-radius: 100%;
}
