/* Bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';
/* @import '~bootstrap-material-design/dist/css/bootstrap-material-design.min.css';

/* Fonts */
@import './assets/fonts/fonts.css';

.test {
  border: 1px solid red;
}
.container {
  max-width: 700px;
}
.logo-text {
  font-family: 'pacifico-regular', cursive;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
}
