#nav-search {
  max-width: 700px;
  width: 100%;
}
#search-box, .form-inline {
  display: inline-flex;
  width: 100%;
}
@media (max-width: 767px) {
  #search-box, .form-inline {
    border-radius: 5px;
    border: none;
  }
}
