<div ngbDropdown #myDrop="ngbDropdown" placement="bottom">
  <input id="nav-search" type="text" class="form-control" placeholder="Search" [(ngModel)]="searchterm" (keydown)="search($event)">
  <div id="results-container" *ngIf="users" class="text-dark mx-1" ngbDropdownMenu>
    <div id="user-section">
      <h6 class="p-1 mb-0 align-self-center">Users</h6><hr class="my-0">
      <div *ngFor="let user of users">
        <div id="search-result" class="p-1 row" *ngIf="user" (click)="sendToProfile(user.userName)">
          <div id="img-wrapper" class="col-1 align-self-center">
            <img [src]="user.photoURL" width="32px" height="32px" class="circle">
          </div>
          <div id="text-wrapper" class="col-10 align-self-center ml-1">
            <span class="font-weight-bold align-self-center">{{user.displayName}}</span>
            <span id="search-username"class="align-self-center">@{{user.userName}}</span>
          </div>
        </div>
      </div>
      <p *ngIf="users?.length < 1" class="text-muted align-self-center mb-0 p-2">No user found.</p>
    </div>
    <div id="group-section">
      <h6 class="p-1 mb-0 align-self-center">Groups</h6><hr class="my-0">
      <div *ngFor="let group of groups">
        <div id="search-result" class="p-1" *ngIf="group" routerLink="/group/{{group.gid}}">
          <div id="text-wrapper" class="align-self-center ml-1">
            <span class="font-weight-bold align-self-center">{{group.gname}}</span>
          </div>
        </div>
      </div>
      <p *ngIf="groups?.length < 1" class="text-muted align-self-center mb-0 p-2">No groups found.</p>
    </div>
  </div>
</div>
