/* User-info */

#bg-cover {
  height: 70px;
  background-color: #E83F6F;
  background-size: cover;
  border: 4px solid white;
}
#home-avatar {
  margin-top: -25px;
  margin-left: 10px;
}
#user-text {
  margin: 0 1px;
  padding-left: 70px;
  margin-top: -35px;
}
#user-text > p {
  font-size: 1rem;
  max-width: 148px;
  word-wrap: break-word;
}
#info-wrapper {
  background-color: white;
  border-radius: 7px;
}
#user-info-nav {
  font-weight: 400;
}
#user-info-nav > a:hover {
  color: #E83F6F;
  cursor: pointer;
}
@media (max-width: 991px) {
  #user-text {
    margin: 0 1px;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 0px;
  }
}
@media (max-width: 575px) {
  #posts-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
#feed-posts {
  overflow-x: hidden;
}
#group-list, #suggested {
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
#user-stats > p {
  font-weight: 550;
}
#btnCreateGroup:hover {
  cursor: pointer;
}
.grouplistitem:hover, #alt-footer > a:hover {
  cursor: pointer;
  color: #E83F6F;
}
#alt-footer {
  color: #E83F6F;
  font-size: 1.05rem;
  font-weight: 350;
}
