<div class="container-fluid p-0">
  <div class="container row pt-2" *ngIf="displayName; else Loading">
    <div id="user-info" class="col-md-3 p-0 m-0 d-none d-md-inline-block">
      <div id="info-wrapper">
        <div id="bg-cover" [style]="getStyle()"></div>
        <div id="user-details">
          <img id="home-avatar" [src]="photoURL" class="circle bg-primary" height="60" width="60">
          <div id="user-text" class="mx-1 pointer" routerLink="/user/{{userName}}">
            <h6 class="mb-0">{{displayName}}</h6>
            <p class="text-muted mb-0">@{{userName}}</p>
          </div>
          <div id="user-stats" class="mx-2 mx-lg-2 row justify-content-lg-center">
            <p class="my-0 col-md-12 col-lg-4 px-1 text-primary"><span class="text-muted font-weight-bold mr-1 mr-lg-0">Scribes</span><br class="d-none d-lg-inline-block">{{totalScribes}}</p>
            <p class="my-0 col-md-12 col-lg-4 px-1 text-primary"><span  class="text-muted font-weight-bold mr-1 mr-lg-0">Followers</span><br class="d-none d-lg-inline-block">{{totalFollowers}}</p>
            <p class="my-0 col-md-12 col-lg-4 px-1 text-primary"><span class="text-muted font-weight-bold mr-1 mr-lg-0">Following</span><br class="d-none d-lg-inline-block">{{totalFollowing}}</p>
          </div>
        </div><hr class="mt-0 mb-1">
        <div id="user-info-nav" class="px-3 pb-4">
          <a (click)="sendTo('profile')">Profile</a><br>
          <a (click)="sendTo('messages')">Messages</a><br><hr class="my-2">
          <a (click)="sendTo('account')">Account</a>
        </div>
      </div>
      <div id="group-list" class="bg-white my-2 pb-2" *ngIf="groups">
        <div class="container-fluid">
          <div class="row">
            <h5 class="pt-1 col-5">Groups</h5>
            <i id="btnCreateGroup" class="fa fa-plus-square fa-2x align-self-center text-primary col-3 mr-1 col-lg-2 ml-auto" (click)="open(CreateGroup)"></i>
          </div>
        </div>
        <hr class="p-0 my-1">
        <div *ngIf="groups && groups.length > 0; else noGroups" class="mt-2">
          <div *ngFor="let group of groups; let i = index" class="mx-3">
            <p class="grouplistitem my-1" (click)="sendTo('group', group.gid)" *ngIf="i<5">{{group.gname}}</p>
          </div>
          <small (click)="open(GroupList, 'grouplist')" class="mx-3 my-2 text-primary pointer" *ngIf="groups && groups.length > 5">See More...</small>
        </div>
      </div>
    </div>
    <div id="posts-container" class="col-md-6 pb-4">
      <app-add-post [userURL]="photoURL" [showAvatar]="true"></app-add-post>
      <div id="feed-posts" *ngFor="let feedPost of feedPosts" style="overflow-y: hidden">
        <app-post [inputPostID]="feedPost.pid"></app-post>
      </div>
      <div class="text-muted text-center py-4" *ngIf="feedPosts && feedPosts.length < 1">
        Follow a user or subscribe to a group to get feed scribes.
      </div>
    </div>
    <div id="right-panel" class="col-md-3 px-0 my-0">
      <div id="suggested" class="bg-white mb-2 pb-2">
        <app-suggested></app-suggested>
      </div>
      <div id="alt-footer" class="d-none d-md-inline-block mx-auto text-justify">
        <span (click)="sendTo('custom', 'about')" class="pointer">About</span>
        <span (click)="sendTo('custom', 'login')" class="pointer">Login</span>
        <span (click)="sendTo('custom', 'signup')" class="pointer">Register</span>
        <span (click)="sendTo('custom', 'feedback')" class="pointer">Feedback</span>
        <span>Scribe&nbsp;2018</span>
      </div>
    </div>
  </div>
</div>
<ng-template #noGroups>
  <p class="mx-1 text-center text-muted">You are not a member of any groups</p>
</ng-template>

<ng-template #Loading>
  <div class="text-center pt-5 text-primary">
    <i class="fa fa-spinner fa-4x fa-spin" aria-hidden="true"></i>
    <h2 class="pt-1">loading your feed...</h2>
  </div>
</ng-template>

<ng-template #GroupList>
  <app-grouplist [groups]="groups" [modalRef]="modalRef"></app-grouplist>
</ng-template>

<ng-template #CreateGroup>
  <app-create-group [modalRef]="modalRef"></app-create-group>
</ng-template>
