<div class="container row pt-2">
  <div id="user-info" class="col-md-3 p-0 m-0 d-none d-md-inline-block">
    <div id="bg-cover"></div>
    <div id="user-details">
      <img id="home-avatar" [src]="photoURL" class="circle" height="60" width="60">
      <div id="user-text" class="mx-1">
          <h6 class="mb-0">DisplayName</h6>
          <p class="text-muted">@username</p>
      </div>
    </div><hr class="mt-0 mb-1">
    <div id="user-info-nav" class="px-2 pb-4">
      <a>Profile</a><br>
      <a>Messages</a><br>
      <a>Groups</a><br><hr class="my-2">
      <a>Settings</a>
    </div>
  </div>
  <div id="posts-container" class="col-md-6">posts</div>
  <div id="right-panel" class="col-md-3">right panel</div>
</div>
