<div class="container" id="account-container">
  <div class="jumbotron my-1 bg-light mt-2">
    <h2>Account Settings</h2><hr>
    <div id="account-settings-form">
      <form>
        <div class="form-group">
            <label for="text-displayname">Name</label>
            <input type="text" class="form-control" id="text-displayname" placeholder="Enter Name" name="text-displayname" [(ngModel)]="displayname">
          </div>
        <div class="form-group">
          <label for="text-username">Username</label>
          <input type="text" class="form-control" id="text-username" placeholder="Enter Username" name="text-username" [(ngModel)]="username">
        </div>

      <div class="form-group">
          <label for="text-status">Status</label>
          <input type="text" class="form-control" id="text-status" placeholder="Enter Status" name="text-status" [(ngModel)]="status">
        </div>

      <div class="form-group">
        <label class="custom-file">
          <input type="file" id="user-avatar" class="custom-file-input" (change)="detectFiles($event)">
          <span class="custom-file-control">{{this.progressname}}</span>
        </label>
      </div>

      <div class="progess-display" *ngIf="this.currentUpload">
        <ngb-progressbar type="primary" [striped]="true" [animated]="true" [value]="this.currentUpload.progress.toFixed(0)" [max]="100">
          <span *ngIf="this.currentUpload.progress >= 15">Uploading image: &nbsp;</span> {{this.currentUpload.progress.toFixed(0)}}%
        </ngb-progressbar>
      </div>

      <br>
      <button id="update-btn" class="btn btn-danger py-2" (click)="this.update()">Update Profile</button>
      </form>
    </div>
  </div>
</div>
