<div class="container">
  <div class="jumbotron my-1">
    <h2>Account Settings</h2><hr>
    <div id="account-settings-form">
      <form>
      <div class="form-group ">
        <label class="control-label requiredField" for="username">
          Username
        </label>
        <input class="form-control" id="username" name="username" placeholder="Username" type="text"/>
      </div>
      <div class="form-group ">
        <label class="control-label requiredField" for="status">
          Status
        </label>
        <textarea class="form-control" id="username" name="status" placeholder="Status" type="text" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label class="custom-file">
          <input type="file" id="user-avatar" class="custom-file-input">
          <span class="custom-file-control"></span>
        </label>
      </div>

      </form>
    </div>
  </div>
</div>
