<div class="container pt-md-3">
  <div id="account-card" class="bg-white rounded p-2 px-4">
    <div id="account-header" class="row justify-content-between mt-2 mt-md-3 mr-3">
      <h3 class="col-auto align-self-center">Account</h3>
      <button class="col-auto btn bg-primary text-white font-weight-bold px-4 py-2 align-self-center" id="btnUpdate" (click)="update()">Update Account</button>
    </div>
    <hr>
    <form [formGroup]="accountForm">
      <div class="form-group mt-4 mb-2">
        <label for="InputDisplayName">Display Name</label>
        <input formControlName="displayname" type="text" class="form-control" id="InputDisplayName" aria-describedby="emailHelp" [(ngModel)]="displayName">
        <small class="form-text text-muted">Your Display Name will show prominently on your profile. (Max 30 characters)</small>
        <small class="form-text">
          <span class="mt-0 mb-1 text-danger" *ngIf="displayname.touched && displayname.errors">
            <div *ngIf="displayname.errors.required">A Display Name is required.</div>
            <div *ngIf="displayname.errors.minlength">Username should be minimum {{displayname.errors.minlength.requiredLength}} characters.</div>
            <div *ngIf="displayname.errors.maxlength">Username can be maximum 30 characters.</div>
          </span>
        </small>
      </div>

      <div class="form-group mb-2">
        <label for="InputUsername">Username</label>
        <input formControlName="username" type="text" class="form-control" id="InputUsername" aria-describedby="emailHelp" [(ngModel)]="userName" (blur)="search($event)">
        <small class="form-text text-muted">Your username is your unique signature. (Max 15 characters)</small>
        <span class="mt-0 mb-1 text-danger" *ngIf="username.touched && username.errors">
          <small class="form-text">
            <div *ngIf="username.errors.required">A Username is required.</div>
            <div *ngIf="username.errors.minlength">Username should be minimum {{username.errors.minlength.requiredLength}} characters.</div>
            <div *ngIf="username.errors.cannotContainSpace">Username cannot contain space.</div>
            <div *ngIf="username.errors.maxlength">Username can be maximum 15 characters.</div>
          </small>
        </span>
        <small class="form-text text-danger">
          <div *ngIf="username.touched && isTaken">Username already taken.</div>
        </small>
      </div>

      <div class="form-group mb-2">
        <label for="InputStatus">Status</label>
        <input formControlName="inputstatus" type="text" class="form-control" id="InputStatus" aria-describedby="emailHelp" [(ngModel)]="status">
        <small class="form-text text-muted">Tell everyone how you feel. (Max 100 characters)</small>
        <small class="form-text">
          <span class="mt-0 mb-1 text-danger" *ngIf="inputstatus.touched && inputstatus.errors">
            <div *ngIf="inputstatus.errors.required">A status is required.</div>
            <div *ngIf="inputstatus.errors.minlength">Status should be minimum {{inputstatus.errors.minlength.requiredLength}} characters.</div>
            <div *ngIf="inputstatus.errors.maxlength">Username can be maximum 100 characters.</div>
          </span>
        </small>
      </div>
    </form>
    <div class="row mb-5">
      <div class="form-group pt-4 col-12 col-sm-6 mb-1 align-self-center">
        <input type="file" id="InputPhoto" class="inputfile" (change)="processImage($event)" accept="image/*">
        <label for="InputPhoto" class="mx-0 text-center"><i class="fa fa-upload mr-1" aria-hidden="true"></i>{{filename}}</label>
      </div>
      <span class="col-auto p-0 ml-3"><img id="displayPhoto" class="circle align-self-center" *ngIf="photoURL" [src]="photoURL"></span>
    </div>
  </div>
</div>
