<div class="container-fluid">
  <div class="row py-4 py-md-5 justify-content-center">
    <div class="order-md-1 col-12 col-lg-3 text-center text-lg-right">
      <h3 class="my-lg-5">Signup with email or your Google account.</h3>
    </div>
    <div class="order-md-3 col-12 col-md-5 col-lg-3 mx-2 p-0 my-2">
        <div id="email-register-form" class="register-form text-center py-3">
          <form [formGroup]="emailform">
            <h2 class="mb-3">Email</h2>

            <input type="text" formControlName="username" class="form-control form-control-md" type="text" placeholder="Username" (blur)="search($event)">
            <small class="mt-0 mb-1 text-danger" *ngIf="username.touched && username.errors">
              <div *ngIf="username.errors.required">A Username is required.</div>
              <div *ngIf="username.errors.minlength">Username should be minimum {{username.errors.minlength.requiredLength}} characters.</div>
              <div *ngIf="username.errors.cannotContainSpace">Username cannot contain space.</div>
            </small>
            <small class="mt-0 mb-1 text-danger" *ngIf="username.touched && isTaken">
              <div>Username already taken.</div>
            </small>

            <input formControlName="displayname" class="form-control form-control-md" type="text" placeholder="Display Name">
            <small class="mt-0 mb-1 text-danger" *ngIf="displayname.touched && displayname.errors">
              <div *ngIf="displayname.errors.required">A Display Name is required.</div>
              <div *ngIf="displayname.errors.minlength">Username should be minimum {{displayname.errors.minlength.requiredLength}} characters.</div>
            </small>

            <input formControlName="email" class="form-control form-control-md" type="text" placeholder="Email">
            <small class="mt-0 mb-1 text-danger" *ngIf="email.touched && email.errors">
              <div *ngIf="email.errors.email && !email.errors.required">Please enter a valid Email.</div>
              <div *ngIf="email.errors.required">An Email is required.</div>
            </small>

            <input type="password" formControlName="password" class="form-control form-control-md" type="password" placeholder="Password">
            <small class="mt-0 mb-1 text-danger" *ngIf="password?.touched && password.errors">
              <div *ngIf="password.errors.minlength && !password.errors.required">Password should be minimum 6 characters.</div>
              <div *ngIf="password.errors.required">A Password is required is required.</div>
            </small>

            <input type="password" formControlName="passwordConfirm" class="form-control form-control-md" type="password" placeholder="Confirm Password">
            <small class="mt-0 mb-1 text-danger" *ngIf="emailform.errors">
              <div *ngIf="emailform.errors">Passwords do not match!</div>
            </small>

          </form>
          <button id="email-register-btn" class="register-btn btn btn-dark btn-disabled py-2" (click)="register('email')">Signup</button>
        </div>
      </div>
      <div class="order-md-2 col-12 col-md-5 col-lg-3 mx-2 p-0 my-2">
        <div id="google-register-form" class="register-form text-center py-3">
          <form [formGroup]="googleform">
            <h2 class="mb-3">Google</h2>
            <input formControlName="googleusername" class="form-control form-control-md" type="text" placeholder="Username" (blur)="search($event)">
            <small class="mt-0 mb-1 text-danger" *ngIf="googleusername.touched && googleusername.errors">
              <div *ngIf="googleusername.errors.required">A Username is required.</div>
              <div *ngIf="googleusername.errors.minlength">Username should be minimum 3 characters.</div>
              <div *ngIf="googleusername.errors.cannotContainSpace">Username cannot contain space.</div>
              <div *ngIf="googleusername.errors.shouldBeUnique">Username already taken.</div>
            </small>
            <small class="mt-0 mb-1 text-danger" *ngIf="googleusername.touched && isTaken">
              <div>Username already taken.</div>
            </small>
          </form>
          <button id="google-register-btn" class="register-btn btn btn-dark btn-disabled py-2" (click)="register('google')">Signup</button>
        </div>
      </div>
  </div>
</div>
